* {
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    margin: 0;
    padding: 0;
    font-family: Poppins, Sans-Serif;
}
/*Arregla el autocompletado de los input, porqu sino agrega un background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ffffff; !important;;
}
/*-------------------------------------------------------------------*/

body.login {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.95);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #dbdb0d;
}

.login-title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    color: honeydew;
}

.login-section{
    height: 350px;
    max-height: 500px;
    width: 350px;
    max-width: 600px;
    position: relative;
    background-color: rgb(0 0 0 / 40%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    opacity: 0.95;
    border: 1px solid rgb(255 255 255 / 40%);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    top:12px;
}

.login-form {
    position: absolute;
    padding: 30px;
    width: 100%;
}

/*input[type="text"], input[type="password"] {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin-bottom: 20px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid ;*/
/*    background-color: #f2f2f2;*/
/*    opacity: 0.6;*/
/*    font-size: 20px;*/
/*}*/

.entrada {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid;
    padding: 8px 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    opacity: 0.6;
    border: 1px solid rgb(255 255 255 / 40%);
}

.entrada input{
    display: block;
    width: 100%;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    color: #ffffff;
    letter-spacing: 0.1em;
}

::placeholder{
    color: #97fda9;
}


input[type="text"]:focus, input[type="password"]:focus{
    /*outline: 2px solid #0a8a0a;*/
}

.boton-iniciar-sesion {
    padding: 10px;
    font-size: 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: block;
    width: 100%;
}

.boton-iniciar-sesion:hover {
    background-color: #45a049;
}


.boton-cerrar-sesion {
    color: #fff ;
    background-color: #c00 ;
    border: none ;
    padding: 10px 20px ;
    cursor: pointer;
    margin-left: auto ;
}


.bienvenido-text {
    font-weight: bold;
}


.panel-links {
    margin-top: 30px;
}

.mensaje-ir-registrar{
    color: honeydew;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.link {
    font-size: 14px;
    color: #dbdb0d;
    text-decoration: none;
}
.link:after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 3px;
     background-color: #dbdb0d;
     transform: scaleX(0);
     transform-origin: bottom left;
     transition: transform 0.3s;
 }

.link:hover:after{
     transform: scaleX(1);
 }






#error-container i {
    margin-right: 8px; /* Espacio entre el icono y el texto */
    font-size: 24px; /* Tamaño del icono */
}


#error-container {
    background-color:#d78080;
    color: #d5000c;
    padding: 7px;
    border-radius:20px;
    position: absolute;
    top: 250px;
    display: flex;
    align-items: flex-start; /* Alinea verticalmente el icono y el texto */
}

#error-container > p{
font-weight: bold;
}


#exito-container {
    background-color:#DFF2BF;
    color: #270;
    padding: 7px;
    border-radius:20px;
    position: absolute;
    top: 250px;
    display: flex;
    align-items: center; /* Alinea verticalmente el icono y el texto */
    gap:6px;
}

#exito-container > p{
    font-weight: bold;
}


.hidden {
    display: none;
}


/*Formulario para registrar usuario*/

body.body-new-user{
    /*background-image: linear-gradient(135deg, rgb(156 167 156) 100%, rgb(134 165 135) 100%);*/
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.new-user-section{
    height: 400px;
    max-height: 500px;
    width: 400px;
    max-width: 600px;
    position: relative;
    background-color: rgb(0 0 0 / 40%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    opacity: 0.95;
    border: 1px solid rgb(255 255 255 / 40%);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    top: 31px
}


.new-user-form{
    position: absolute;
    padding: 30px;
    width: 100%;
    /*background: #d7e3ed url(../img/new-user-background.jpg);*/
    background-size: cover;
    border-radius: 30px;
}


h1.titulo-registrar{
    background: #0e0e0d;
    text-align: center;
    padding: 30px 0px 30px 9px;
    margin:-7px 0px 40px 0px;
    width: 100%;
    color: #69a383;

}

.new-user-title{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: honeydew;
    text-align: center;
}

.boton-registrar-usuario{
    padding: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    display: block;
    width: 100%;
}

.boton-registrar-usuario:hover {
    background-color: #45a049;
}

.mensaje-ir-login{
    color: honeydew;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}






/*Pantalla principal*/
.barra-navegacion {
    display: flex ;
    justify-content: space-between ;
    align-items: center;
    background-color: #333 ;
    color: #fff ;
    padding: 10px ;
}